<mat-card class="card">
  <mat-card-header>
    <mat-card-title>Liste de Acteurs</mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>

<mat-list role="list" *ngFor="let actor of data">
  <mat-list-item role="listitem">{{actor.name}}</mat-list-item>
</mat-list>

  </mat-card-content>
</mat-card>
