<mat-form-field class="example-full-width">
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium">
</mat-form-field>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef> Titre</th>
    <td mat-cell *matCellDef="let element"> {{element.title}} </td>
  </ng-container>

  <ng-container matColumnDef="category">
    <th mat-header-cell *matHeaderCellDef> Categorie</th>
    <td mat-cell *matCellDef="let element"> {{element.category}} </td>
  </ng-container>

  <ng-container matColumnDef="releaseYear">
    <th mat-header-cell *matHeaderCellDef> Année de lancement</th>
    <td mat-cell *matCellDef="let element"> {{element.releaseYear}} </td>
  </ng-container>

  <ng-container matColumnDef="directors">
    <th mat-header-cell *matHeaderCellDef> Directeur</th>
    <td mat-cell *matCellDef="let element"> {{element.directors}} </td>
  </ng-container>

  <ng-container matColumnDef="rate">
    <th mat-header-cell *matHeaderCellDef> Note</th>
    <td mat-cell *matCellDef="let element"> {{element.rate}} </td>
  </ng-container>

  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef> Directeur</th>
    <td mat-cell *matCellDef="let element"> {{element.price}} </td>
  </ng-container>

  <ng-container matColumnDef="detail">
    <th mat-header-cell *matHeaderCellDef> Detail</th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button="" [routerLink]="['/movie_detail', element.id]">
        <mat-icon>visibility</mat-icon>
      </button>
    </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
