<mat-toolbar color="primary"><span routerLink="/">Cinemax</span>
  <button mat-flat-button color="primary" [matMenuTriggerFor]="film">Film
    <mat-icon>expand_more</mat-icon>
  </button>
  <mat-menu #film="matMenu">
    <button mat-menu-item routerLink="add_movie">Ajouter un film</button>
    <button mat-menu-item routerLink="movie_list">Liste des films</button>
  </mat-menu>
  <button mat-flat-button color="primary" [matMenuTriggerFor]="acteur">Acteur
    <mat-icon>expand_more</mat-icon>
  </button>
  <mat-menu #acteur="matMenu">
    <button mat-menu-item routerLink="actor_list">Liste des acteurs</button>
    <button mat-menu-item routerLink="actor_create">Créer un acteur</button>
  </mat-menu>
</mat-toolbar>

