<mat-card class="card">
  <mat-card-header>
    <mat-card-title>Acteur</mat-card-title>
    <mat-card-subtitle>Detail</mat-card-subtitle>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <form class="example-form" [formGroup]="actorForm" (ngSubmit)="modifyActor()">

      <mat-form-field class="example-full-width">
        <mat-label>Nom</mat-label>
        <input matInput type="text" placeholder="Ex. Dodo la saumure" formControlName="name">
        <mat-error *ngIf="actorForm.get('name')?.errors?.required">Le nom est obligatoire</mat-error>
      </mat-form-field>

      <button type="submit" mat-raised-button color="primary">Modifier l'acteur</button>
      <button mat-raised-button color="warn" (click)="confirmMessage()">Supprimer l'acteur</button>

    </form>
  </mat-card-content>
</mat-card>
