<mat-card class="card">
  <mat-card-header>
    <mat-card-title>{{film?.title}}</mat-card-title>
    <mat-card-subtitle>Detail</mat-card-subtitle>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>


    <form *ngIf="film" class="example-form" [formGroup]="filmForm" (ngSubmit)="modifyFilm()">
      <mat-form-field class="example-full-width">
        <mat-label>Titre</mat-label>
        <input matInput type="text" placeholder="Ex. Terminator" formControlName="title">
        <mat-error *ngIf="filmForm.get('title')?.errors?.required">Le nom est obligatoire</mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Categorie</mat-label>
        <input matInput type="text" placeholder="Ex. Manga" formControlName="category">
        <mat-error *ngIf="filmForm.get('category')?.errors?.required">La categorie est obligatoire</mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Année de réalisation</mat-label>
        <input matInput type="text" placeholder="Ex. 2010" formControlName="releaseYear">
        <mat-error *ngIf="filmForm.get('releaseYear')?.errors?.required">L'année de sortie est obligatoire</mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Url de l'image</mat-label>
        <input matInput type="text" placeholder="Ex. 2010" formControlName="poster">
        <mat-error *ngIf="filmForm.get('poster')?.errors?.required">L'image est obligatoire</mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Directeurs</mat-label>
        <input matInput type="text" placeholder="Ex. Cohen Brothers" formControlName="directors">
        <mat-error *ngIf="filmForm.get('directors')?.errors?.required">Le directeur du film est obligatoire</mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Acteur</mat-label>
        <mat-select formControlName="actors" placeholder="Selectionner un acteur" multiple>
          <mat-option *ngFor="let actor of actors" [value]="actor.id">{{actor.name}}</mat-option>
        </mat-select>
        <mat-error *ngIf="filmForm.get('actors')?.errors?.required">Au moins 1 acteur est obligatoire</mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Résumé du film</mat-label>
        <textarea matInput type="text" formControlName="synopsis"></textarea>
        <mat-error *ngIf="filmForm.get('synopsis')?.errors?.required">Le résumé est obligatoire</mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Note</mat-label>
        <input matInput type="number" formControlName="rate">
        <mat-error *ngIf="filmForm.get('rate')?.errors?.required">La note est obligatoire</mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Dernière vue</mat-label>
        <input matInput type="date" formControlName="lastViewDate">
        <mat-error *ngIf="filmForm.get('lastViewDate')?.errors?.required">La date est obligatoire</mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Prix</mat-label>
        <input matInput type="number" formControlName="price">
        <mat-error *ngIf="filmForm.get('price')?.errors?.required">Le prix est obligatoire</mat-error>
      </mat-form-field>

      <button type="submit" mat-raised-button color="primary">Modifier le film</button>
      <button mat-raised-button color="warn" (click)="confirmMessage()">Supprimer le film</button>
      <app-display-actors [actors]="film?.actors"></app-display-actors>
    </form>

  </mat-card-content>
</mat-card>



