<p>Il y a {{films?.length}} films dans la base de donnée.</p>
<p>Il y a {{actors?.length}} acteurs dans la base de donnée.</p>
<button routerLink="add_movie" mat-raised-button color="accent">Ajouter un film</button>
